<div class="row">
    <div class="col-12">
        <EditForm Model="@createModel" OnValidSubmit="Ok">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label>容器</label>
                @if (Model == null)
                {
                    <InputSelect @bind-Value="createModel.ContainerName" class="form-control">
                        @if (containerNames == null)
                        {
                        <option value="">加载中...</option>
                        }
                        else

                        {
                        <option value="">请选择</option>
                        @foreach (var t in containerNames)
                            {
                            <option value="@t">@t</option>
                            }
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => createModel.ContainerName)" />
                }
                else
                {
                    <input type="text" class="form-control" readonly value="@createModel.ContainerName" />
                }
            </div>
            <div class="form-group form-check">
                <InputCheckbox @bind-Value="createModel.IsSelfNodeActive" class="form-check-input" id="IsSelfNodeActive"></InputCheckbox>
                <label class="form-check-label" for="IsSelfNodeActive">自身节点激活</label>
                <ValidationMessage For="@(() => createModel.IsSelfNodeActive)" />
            </div>
            <button type="submit" class="btn btn-primary col-sm-5 col-md-4 col-lg-2">确定</button>
        </EditForm>
    </div>
</div>