<div class="row">
    <div class="col-12">
        <EditForm Model="@createModel" OnValidSubmit="Ok">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label>自身节点URL</label>
                <InputText class="form-control" @bind-Value="createModel.SelfNodeUrl" />
                <small class="form-text text-muted">对方节点通过此URL连接到自身节点。示例：qp.ws://192.168.1.100/cluster</small>
                <ValidationMessage For="@(() => createModel.SelfNodeUrl)" />
            </div>
            <div class="form-group">
                <label>对方节点URL</label>
                <InputText class="form-control" @bind-Value="createModel.OppositeNodeUrl" />
                <small class="form-text text-muted">连接到对方节点的URL。示例：qp.ws://192.168.1.101/cluster</small>
                <ValidationMessage For="@(() => createModel.OppositeNodeUrl)" />
            </div>
            <div class="form-group">
                <label>对方节点密码</label>
                <InputText class="form-control" type="password" @bind-Value="createModel.OppositeNodePassword" />
                <small class="form-text text-muted">连接到对方节点的密码</small>
                <ValidationMessage For="@(() => createModel.OppositeNodePassword)" />
            </div>
            <div class="form-group">
                <label>传输超时时间</label>
                <InputNumber class="form-control" type="password" @bind-Value="createModel.TransportTimeout" />
                <small class="form-text text-muted">单位：毫秒。默认值为：15000</small>
                <ValidationMessage For="@(() => createModel.TransportTimeout)" />
            </div>
            <button type="submit" class="btn btn-primary col-sm-5 col-md-4 col-lg-2">确定</button>
        </EditForm>
    </div>
</div>