<nav class="navbar sticky-top bg-light p-1">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2">
            @if (Container.ContainerInfo.Enable)
            {
                @if (Container.IsConnected)
                {
                    @if (Container.ContainerInfo.AutoStart)
                    {
                        <button type="button" title="停止" class="btn btn-sm btn-secondary"
                            @onclick="@(e => StopContainer(Container))">
                            <i class="fa fa-stop" aria-hidden="true"></i>
                        </button>
                        <button type="button" title="重启" class="btn btn-sm btn-secondary"
                            @onclick="@(e => RestartContainer(Container))">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </button>
                    }
                    else
                    {
                        <button type="button" title="启动" class="btn btn-sm btn-secondary"
                            @onclick="@(e => StartContainer(Container))">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </button>
                        <button type="button" title="禁用" class="btn btn-sm btn-secondary"
                            @onclick="() => DisableContainer(Container)">
                            <i class="fa fa-chain-broken" aria-hidden="true"></i>
                        </button>
                    }
                }
                else
                {
                    <button type="button" title="禁用" class="btn btn-sm btn-secondary"
                        @onclick="() => DisableContainer(Container)">
                        <i class="fa fa-chain-broken" aria-hidden="true"></i>
                    </button>
                }
            }
            else
            {
                <button type="button" title="编辑" class="btn btn-sm btn-secondary" @onclick="() => EditContainer(Container.ContainerInfo)">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button type="button" title="启用" class="btn btn-sm btn-secondary"
                    @onclick="()=>EnableContainer(Container)">
                    <i class="fa fa-chain" aria-hidden="true"></i>
                </button>
            }
            <button type="button" title="清空" class="btn btn-sm btn-secondary" @onclick="ClearContainerHistory">
                <i class="fa fa-eraser" aria-hidden="true"></i>
            </button>
        </div>
        <div class="btn-group">
            @if (Container.ShowConsoleHistory)
            {
                <button type="button" title="关闭日志" class="btn btn-sm btn-secondary"
                    @onclick="@(e=>Container.ShowConsoleHistory=false)">
                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                </button>
            }
            else
            {
                <button type="button" title="显示日志" class="btn btn-sm btn-secondary"
                    @onclick="@(e=>Container.ShowConsoleHistory=true)">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
            }
            <button type="button" title="查看日志" class="btn btn-sm btn-secondary" @onclick="QueryLog">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-sm btn-secondary @(ConsoleRows == 30?"active":"")"
                @onclick="@(e=>ConsoleSetRows(30))">▇</button>
            <button type="button" class="btn btn-sm btn-secondary @(ConsoleRows == 20?"active":"")"
                @onclick="@(e=>ConsoleSetRows(20))">▅</button>
            <button type="button" class="btn btn-sm btn-secondary @(ConsoleRows == 10?"active":"")"
                @onclick="@(e=>ConsoleSetRows(10))">▃</button>
        </div>
    </div>
    @if (Container.IsConnected)
    {
        <div class="btn-toolbar" role="toolbar">
            @if (Container.ConfigFiles != null && Container.ConfigFiles.Length > 0)
            {
                <div class="btn-group ml-2">
                    <button type="button" class="btn btn-sm btn-secondary"
                        @onclick="@(e => ContainerConfigFiles())">配置文件</button>
                </div>
            }
            @if (ContainerFunctions != null && ContainerFunctions.Length > 0)
            {
                @foreach (var function in ContainerFunctions)
                {
                    <div class="btn-group ml-2">
                        <button type="button" class="btn btn-sm btn-secondary"
                            @onclick="@(e => ConfigContainer(function))">@function.Name</button>
                    </div>
                }
            }
            @if (ReverseProxyRules != null && ReverseProxyRules.Length > 0)
            {
                @foreach (var rule in ReverseProxyRules)
                {
                    @if (rule.Links != null)
                    {
                        @foreach (var link in rule.Links)
                        {
                            <a class="btn btn-sm btn-secondary ml-2" href=".@(rule.Path + link.Url)" target="_blank">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                @link.Name
                            </a>
                        }
                    }
                }
            }
        </div>
    }
</nav>
@if (Container.ShowConsoleHistory)
{
    <textarea name="console" rows="@ConsoleRows" class="border-0 rounded-0 bg-dark form-control m-0 text-light"
    readonly>@Container.ConsoleHistory</textarea>
}
else
{
    <textarea name="console" rows="@ConsoleRows" class="border-0 rounded-0 bg-dark form-control m-0 text-light" readonly>已关闭容器日志显示</textarea>
}

<ModalWindow @ref="modalWindow" DialogSizeExtraLarge="true" DialogCentered="false" ModalBodyCls="p-0" />
<ModalLoading @ref="modalLoading" />
<ModalAlert @ref="modalAlert" />