<div class="row">
    <div class="col-12">
        <EditForm Model="@CurrentNetworkInterfaceConfig" OnValidSubmit="OkEditNetworkInterface">
            <DataAnnotationsValidator />

            <div class="form-group">
                <label>配置方式</label>
                <InputSelect @bind-Value="CurrentNetworkInterfaceConfig.Method" class="form-control">
                    <option value="DHCP">自动(DHCP)</option>
                    <option value="Static">手动</option>
                </InputSelect>
                <ValidationMessage For="@(() => CurrentNetworkInterfaceConfig.Method)" />
            </div>
            @if (CurrentNetworkInterfaceConfig.Method == NetworkInterfaceMethod.Static)
            {
                <div class="form-group">
                    <label>IP地址</label>
                    <InputText class="form-control" @bind-Value="CurrentNetworkInterfaceConfig.IPAddress" />
                    <ValidationMessage For="@(() => CurrentNetworkInterfaceConfig.IPAddress)" />
                </div>
                <div class="form-group">
                    <label>子网掩码</label>
                    <InputText class="form-control" @bind-Value="CurrentNetworkInterfaceConfig.NetMask" />
                    <ValidationMessage For="@(() => CurrentNetworkInterfaceConfig.NetMask)" />
                </div>
                <div class="form-group">
                    <label>网关</label>
                    <InputText class="form-control" @bind-Value="CurrentNetworkInterfaceConfig.Gateway" />
                    <ValidationMessage For="@(() => CurrentNetworkInterfaceConfig.Gateway)" />
                </div>
                <div class="form-group">
                    <label>DNS服务器</label>
                    <InputText class="form-control" @bind-Value="CurrentNetworkInterfaceConfig.DnsServer" />
                    <ValidationMessage For="@(() => CurrentNetworkInterfaceConfig.DnsServer)" />
                </div>
            }
            <button type="submit" class="btn btn-primary col-sm-5 col-md-4 col-lg-2">保存</button>
        </EditForm>
    </div>
</div>

<ModalLoading @ref="modalLoading" />
<ModalAlert @ref="modalAlert" />