@using YiQiDong.Utils
@using Quick.Blazor.Bootstrap

<div class="modal-body">
    <nav class="navbar sticky-top bg-light p-1">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-secondary @(ConsoleRows == 30 ? "active" : "")"
                        @onclick="@(e => ConsoleSetRows(30))">▇</button>
                <button type="button" class="btn btn-sm btn-secondary @(ConsoleRows == 20 ? "active" : "")"
                        @onclick="@(e => ConsoleSetRows(20))">▅</button>
                <button type="button" class="btn btn-sm btn-secondary @(ConsoleRows == 10 ? "active" : "")"
                        @onclick="@(e => ConsoleSetRows(10))">▃</button>
            </div>
        </div>
    </nav>
    <EditForm Model="@this" OnValidSubmit="Ok">
        <LogViewControl @ref="logViewControl" Rows="@ConsoleRows" />
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">命令</span>
            </div>
            <InputText class="form-control" @bind-Value="command" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">执行</button>
            </div>
        </div>
    </EditForm>
</div>