<div class="row">
    <div class="col-12">
        @if (CurrentNetworkInterfaceConfig == null)
        {
            <div class="alert alert-danger" role="alert">
                @ErrorMessage
            </div>
        }
        else
        {
            <EditForm Model="@CurrentNetworkInterfaceConfig" OnValidSubmit="OkEditNetworkInterface">
                <DataAnnotationsValidator />
                <Tabs TabContentExtraClass="mt-2">
                    <TabPane Key="Basic">
                        <Tab>基础</Tab>
                        <ChildContent>
                            <div class="form-group">
                                <label>IPv4</label>
                                <div class="custom-control custom-switch">
                                    @if (CurrentNetworkInterfaceConfig.IPv4Config == null)
                                    {
                                        <input type="checkbox" class="custom-control-input" id="customSwitchIPv4"
                                            @onclick="@(e => CurrentNetworkInterfaceConfig.IPv4Config = new(){ IPVersion = "inet"})">
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="custom-control-input" id="customSwitchIPv4" checked
                                            @onclick="@(e => CurrentNetworkInterfaceConfig.IPv4Config = null)">
                                    }
                                    <label class="custom-control-label" for="customSwitchIPv4">启用</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>IPv6</label>
                                <div class="custom-control custom-switch">
                                    @if (CurrentNetworkInterfaceConfig.IPv6Config == null)
                                    {
                                        <input type="checkbox" class="custom-control-input" id="customSwitchIPv6"
                                            @onclick="@(e => CurrentNetworkInterfaceConfig.IPv6Config = new(){ IPVersion = "inet6"})">
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="custom-control-input" id="customSwitchIPv6" checked
                                            @onclick="@(e => CurrentNetworkInterfaceConfig.IPv6Config = null)">
                                    }
                                    <label class="custom-control-label" for="customSwitchIPv6">启用</label>
                                </div>
                            </div>
                        </ChildContent>
                    </TabPane>
                    @if (CurrentNetworkInterfaceConfig.IPv4Config != null)
                    {
                        <TabPane Key="IPv4">
                            <Tab>IPv4</Tab>
                            <ChildContent>
                                <div class="form-group">
                                    <label>配置方式</label>
                                    <InputSelect @bind-Value="CurrentNetworkInterfaceConfig.IPv4Config.Method"
                                        class="form-control">
                                        <option value="DHCP">自动(DHCP)</option>
                                        <option value="Static">手动</option>
                                    </InputSelect>
                                    <ValidationMessage For="@(() => CurrentNetworkInterfaceConfig.IPv4Config.Method)" />
                                </div>
                                @if (CurrentNetworkInterfaceConfig.IPv4Config.Method == NetworkInterfaceMethod.Static)
                                {
                                    <div class="form-group">
                                        <label>IP地址</label>
                                        <InputText class="form-control"
                                            @bind-Value="CurrentNetworkInterfaceConfig.IPv4Config.IPAddress" />
                                        <ValidationMessage For="@(() => CurrentNetworkInterfaceConfig.IPv4Config.IPAddress)" />
                                    </div>
                                    <div class="form-group">
                                        <label>子网掩码</label>
                                        <InputText class="form-control"
                                            @bind-Value="CurrentNetworkInterfaceConfig.IPv4Config.NetMask" />
                                        <ValidationMessage For="@(() => CurrentNetworkInterfaceConfig.IPv4Config.NetMask)" />
                                    </div>
                                    <div class="form-group">
                                        <label>网关</label>
                                        <InputText class="form-control"
                                            @bind-Value="CurrentNetworkInterfaceConfig.IPv4Config.Gateway" />
                                        <ValidationMessage For="@(() => CurrentNetworkInterfaceConfig.IPv4Config.Gateway)" />
                                    </div>
                                    <div class="form-group">
                                        <label>DNS服务器</label>
                                        <InputText class="form-control"
                                            @bind-Value="CurrentNetworkInterfaceConfig.IPv4Config.DnsServer" />
                                        <ValidationMessage For="@(() => CurrentNetworkInterfaceConfig.IPv4Config.DnsServer)" />
                                    </div>
                                }
                            </ChildContent>
                        </TabPane>
                    }
                    @if (CurrentNetworkInterfaceConfig.IPv6Config != null)
                    {
                        <TabPane Key="IPv6">
                            <Tab>IPv6</Tab>
                            <ChildContent>
                                <div class="form-group">
                                    <label>配置方式</label>
                                    <InputSelect @bind-Value="CurrentNetworkInterfaceConfig.IPv6Config.Method"
                                        class="form-control">
                                        <option value="DHCP">自动(DHCP)</option>
                                        <option value="Static">手动</option>
                                    </InputSelect>
                                    <ValidationMessage For="@(() => CurrentNetworkInterfaceConfig.IPv6Config.Method)" />
                                </div>
                                @if (CurrentNetworkInterfaceConfig.IPv6Config.Method == NetworkInterfaceMethod.Static)
                                {
                                    <div class="form-group">
                                        <label>IP地址</label>
                                        <InputText class="form-control"
                                            @bind-Value="CurrentNetworkInterfaceConfig.IPv6Config.IPAddress" />
                                        <ValidationMessage For="@(() => CurrentNetworkInterfaceConfig.IPv6Config.IPAddress)" />
                                    </div>
                                    <div class="form-group">
                                        <label>子网掩码</label>
                                        <InputText class="form-control"
                                            @bind-Value="CurrentNetworkInterfaceConfig.IPv6Config.NetMask" />
                                        <ValidationMessage For="@(() => CurrentNetworkInterfaceConfig.IPv6Config.NetMask)" />
                                    </div>
                                    <div class="form-group">
                                        <label>网关</label>
                                        <InputText class="form-control"
                                            @bind-Value="CurrentNetworkInterfaceConfig.IPv6Config.Gateway" />
                                        <ValidationMessage For="@(() => CurrentNetworkInterfaceConfig.IPv6Config.Gateway)" />
                                    </div>
                                    <div class="form-group">
                                        <label>DNS服务器</label>
                                        <InputText class="form-control"
                                            @bind-Value="CurrentNetworkInterfaceConfig.IPv6Config.DnsServer" />
                                        <ValidationMessage For="@(() => CurrentNetworkInterfaceConfig.IPv6Config.DnsServer)" />
                                    </div>
                                }
                            </ChildContent>
                        </TabPane>
                    }
                </Tabs>
                <button type="submit" class="btn btn-primary col-sm-5 col-md-4 col-lg-2">保存</button>
            </EditForm>
        }
    </div>
</div>

<ModalAlert @ref="modalAlert" />
<ModalLoading @ref="modalLoading" />